#bigdiv {
    display:flex;
    width: 38em;
    background-color: white;
    height: 44em;
    border-width: 3px;
    border-color: darkgray;
    flex-direction: column;
    padding: 3em;
}
body{
    background-color: rgb(211, 211, 211);
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 30px;
    width: 10em;
}
.smallerdiv{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#input{
    height: 24px;
    width: 30em;
}
p{
    font-size: large;
    flex-wrap: wrap;
    max-width: 30em;
    word-wrap: break-word;
}
.a{
    text-align: top;
}