#bigdiv {
    display:flex;
    width: 38em;
    background-color: white;
    height: 44em;
    border-width: 3px;
    flex-direction: column;
    padding: 3em;
}
body{
    background-color: rgb(87, 87, 87);
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 30px;
    width: 6em;
    margin-left: 0.5em;
}
.smallerdiv{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#input{
    height: 26px;
    width: 30em;
}
p{
    font-size: large;
    flex-wrap: wrap;
    max-width: 30em;
    word-wrap: break-word;
}
.a{
    text-align: top;
}
#Salsfunfactbox{
    padding-left: 1em;
    padding-right: 1em;
}
.SalsfunFacts{
    align-items: center;
    justify-content: center;
    display: flex;
}