#bigdiv {
    display:flex;
    width: 40em;
    background-color: white;
    height: 45em;
    border-width: 3px;
    border-color: darkgray;
    flex-direction: column;
}
body{
    background-color: rgb(211, 211, 211);
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 4em;
    width: 10em;
}
